* {
    margin: 0;
    padding: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.header {
    min-height: 100vh;
    width: 100%;
    background-image: url(images/into.gif);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img {
    width: 175px;
    height: 125px;
    margin-top: 10px;
    position:absolute;
}
.nav_links {
    flex: 1;
    text-align: right;
    margin-top: 45px;
}
.nav_links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav_links ul li a {
    color: yellow;
    text-decoration: none;
    font-size: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.nav_links ul li ::after {
    content: "";
    width: 0px;
    height: 2px;
    background-color: gold;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav_links ul li :hover::after {
    width: 100%;
}
.text-box {
    width: 90%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 50px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 20px;
}

.visit-btn{
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 12px 30px;
    font-size: 15px;
    background:transparent;
    position: relative;
    cursor:pointer;
}
.visit-btn:hover{
    border: 1px solid yellow;
    background: red;
    color: yellow;
    transition: .7s;
}


/*-------Our Services photos css------*/

.row2{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    transition: 1s;
}
.row2 :hover{
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}

.Why-hire{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 10px;
}

.Why-hire h1{
    font-size: 35px;
    font-weight: 700;
    color: black;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.Why-hire p{
    font-size: 20px;
    font-weight: 500;
    color: black;
    padding: 10px;
    line-height: 22px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.Why-hire-img{
    flex-basis: 31%;
    background:white;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
}
.Why-hire-img{
    position: relative;
    overflow: hidden;
}
.Why-hire-img img{
    width: 100%;
}

.leyer2{
    font-size: 50px;
    background: transparent;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    transition: 2s;
}

.leyer2:hover{
    background:rgba(0, 0, 0, 0.7);
}

.leyer2 h3{
    width: 100%;
    font-weight: 700;
    font-size: 15px;
    color: white;
    bottom: 0%;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    text-align: center;
    opacity: 0;
    transition: .5s;
}

.leyer2:hover h3{
    bottom: 49%;
    opacity: 1;
}
/*---------------Contact Us-----------*/

.Contact{
    margin: 80px auto;
    width: 90%;
    background: url(images/banner.gif);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
}
.Contact h1{
    font-size: 35px;
    font-weight: 700;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    padding-bottom: 5px;
}

@media screen and (max-width: 600px) {
    .row2{
        margin-top: 5%;
        display: inline;
        justify-content: space-between;
        transition: 1s;
    }
    nav img {
        width: 120px;
        height: 95px;
        margin-top: 10px;
        position: absolute;
    }
    .row2 :hover{
        box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
    }

    .nav_links ul li{
        display:block;

    }
    .nav_links{
        position: absolute;
        background:red;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    
    nav .glyphicon{
        display:block;
        color: yellow;
        margin: 10px;
        margin-top: 35px;
        font-size: 40px;
        cursor: pointer;
        text-align: right;
    }
    .nav_links ul{
        padding:30px;
    }
}

.ServiceButton{
    margin-top: 80%;
}
